
@{
    ViewBag.Title = "AJAX_New";
}

<script src="~/Scripts/formvalidation.js"></script>
<div id="containershow">
    <nav>
        <a class="teacherlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2 class="title">New Teacher</h2>
    @{
        /* AJAX Request to add teacher */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */


    }

    <div class="inputrow">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />
    </div>
    <div class="inputrow">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />
    </div>
    <div class="inputrow">
        <label for="TeacerEmployeeNum">Employee Num:</label>
        <input type="text" id="TeacherEmployeeNum" name="TeacherEmployeeNum" />
    </div>
    <div class="inputrow">
        <label for="TeacherSalary">Salary:</label>
        <input type="text" id="TeacherSalary" name="TeacherSalary" />
    </div>
    @{
        //AddTeacher() is a JS method defined in /Scripts/teachers.js
    }
    <button onclick="AddTeacher();">Add Teacher</button>
</div>


